<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="GSL.Settings" type="Echis.Configuration.SectionHandler, Echis.Core"/>
		<section name="Echis.IOCSettings" type="Echis.Configuration.SectionHandler, Echis.Core"/>
		<section name="Echis.Diagnostics.Settings" type="Echis.Configuration.SectionHandler, Echis.Core"/>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="GSL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>

	<appSettings/>

	<!-- Launcher Settings -->
	<GSL.Settings Assembly="FC2.SL.Core">
		<Settings ServerExe="C:\Program Files (x86)\Ubisoft\Far Cry 2\bin\FC2ServerLauncher.exe" ServerResourceFile="ServerResources.en-us.xml" BannedPlayerFile="BannedPlayers.xml" ProcessInterval="500"/>
	</GSL.Settings>

	<!-- Simple IOC Settings -->
	<Echis.IOCSettings Assembly="Echis.Core">
		<IOCSettings/>
	</Echis.IOCSettings>

	<!-- Diagnostics Settings -->
	<Echis.Diagnostics.Settings Assembly="Echis.Core">
		<Settings DefaultLevel="Info" UseEventLog="false">
			<Thread ThreadName="Main" TraceLevel="Info">
				<TraceListener Name="LogFile" TypeName="Echis.Diagnostics.TraceListeners.LogFileTraceListener, Echis.Diagnostics">
					<Parameter Name="Path" Value="C:\FC2\Logs\"/>
					<Parameter Name="Filename" Value="FC2.SL.{0}"/>
				</TraceListener>
			</Thread>
		</Settings>
	</Echis.Diagnostics.Settings>

	<userSettings>
		<GSL.Properties.Settings>
   <setting name="SettingsFile" serializeAs="String">
    <value>FC2_SL_Settings.xml</value>
   </setting>
  </GSL.Properties.Settings>
	</userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
